:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  body {
    margin: 60px auto;
    max-width: 800px;
  }
  
  h1,
  h2,
  h3,
  h5 {
    text-align: center;
    margin: 0;
  }
  
  .name {
    font-size: 96px;
  }
  .about {
    font-size: 96px;
  }
  h2 {
    font-size: 48px;
  }
  
  h3 {
    font-size: 24px;
    opacity: 0.7;
  }
  h5 {
    padding-top: 20px;
    font-size: 20px;
    opacity: 0.6;
  }
  
  p {
    background: var(--secondary-color);
    padding: 10px;
    border: 10px solid #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }
  
  .navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  
  .navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  
  .about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  
  .homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
  }
  
  .about-paragraphs {
    display: flex;
    margin: 30px 0;
  }
  
  .about-paragraphs p {
    margin: 10px;
  }
  
  .email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
  }
  
  .email-link:hover {
    text-decoration: underline;
  }
  .maneskin {
    display: block;
    margin: 10px;
    background-color: rgb(238, 230, 247);
    padding: 10px;
    border-radius: 10px;
  }
  .weather {
    margin: 10px;
    background-color: rgb(238, 230, 247);
    padding: 10px;
    border-radius: 10px;
  }
  @media (max-width: 600px) {
    h2, .name, .about {
      font-size: 25px;
      text-align: center;
    }
    .weather {
        padding-top: 10px;
    }
}  